---
import Default from "../layouts/default.astro";
import Card from "../components/Card.astro";
---

<Default title="Set Up a Meeting | ACM UTSA">
	<main class="min-h-screen max-w-screen w-full">
		<div class="flex flex-col items-center justify-center w-full h-full">
			<h1 class="text-4xl font-bold text-center">Set Up a Meeting</h1>
			<p class="text-center">
				Need help with a project? Want to learn more about ACM? Set up a meeting
				with us!
			</p>
			<div class="flex flex-col items-center justify-center w-full mt-8">
				<div class="flex flex-col items-center justify-center
	</main>
</Default>
